:root {
    --sl-color-text-accent: #a78bfa;
    --sl-content-width: 60rem;
}

.discord {
    height: 32rem;
}

.site-title img {
    image-rendering: pixelated;
}

.starlight-aside--tip {
      --sl-color-asides-text-accent: var(--sl-color-text-accent);
      --sl-color-asides-border: var(--sl-color-text-accent);
      background-color: var(--sl-color-gray-6);
}

.starlight-aside--note {
      --sl-color-asides-text-accent: #4ade80;
      --sl-color-asides-border: #4ade80;
      background-color: var(--sl-color-gray-6);
}

.starlight-aside--caution {
      --sl-color-asides-text-accent: #facc15;
      --sl-color-asides-border: #facc15;
      background-color: var(--sl-color-gray-6);
}

.starlight-aside--danger {
      --sl-color-asides-text-accent: #ef4444;
      --sl-color-asides-border: #ef4444;
      background-color: var(--sl-color-gray-6);
}
